<%- include('../partials/header') %>

<h2><%= book.title %></h2>

<ul>
  <li><strong>Author:</strong> <%= book.author %></li>
  <li><strong>Year:</strong> <%= book.year %></li>
</ul>

<a href="/books">← Back to All Books</a>

<%- include('../partials/footer') %>
